#main-content {
    border: 1px solid;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


.news-item {
    position: relative;
    border: 1px solid;
    overflow: hidden;
}

.news-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #206AB6;
    border-bottom: 1px solid #ccc;
}


.news-img {
    float: left;
    border: 1px solid;
    width: 350px;
    height: 250px;
    margin-right: 20px;
}

.show-hide-description {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}


.news-text {
    height: 350px;
    /* width: 100%; */
    /* height: 336px; */
    margin-bottom: 50px;
    overflow: hidden;
    transition: height .3s;
}

.news-text:after {
    content: '';
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 370px;
    height: 0;
    opacity: 0;
    transition: .7s;
    background: linear-gradient(transparent, #fff);
}

.news-text.hide-text:after {
    height: 100px;
    opacity: 1;
}



@media screen and (min-width: 767px) {
    #content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 767px) {
    #content {
        display: flex;
        flex-direction: column-reverse;
    }
}