#content {
    background: #fff;
    border-bottom: 3px solid #a5a5a5;
    margin-bottom: 50px;
}

#main-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


.news-item {
    position: relative;
    overflow: hidden;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 50px;
}

.news-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #206AB6;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.news-img {
    /* width: 350px;
    height: 250px;
    margin-right: 20px; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.news-item:nth-child(2) .news-img {
    background-position: 50% 0;
}

.show-hide-description {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border: 1px solid #0056ac;
    text-align: center;
    color: #fff;
    background: linear-gradient(#58a4f0 10%, #206AB6);
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.news-text, .full-news-text {
    min-height: 300px;
    margin-bottom: 50px;
    overflow: hidden;
    line-height: 22px;
    color: #3B3B3B;
}

.full-news-text {
    display: inline;
}

.news-text::first-letter {
    font-size: 25px;
    font-weight: bold;
    color: #206AB6;
}

.news-text.hide-text:after {
    height: 100px;
    opacity: 1;
}



@media screen and (min-width: 992px) {
    #content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .news-img {
        width: 20vw;
        height: 15vw;
        margin-right: 20px;
        float: left;
    }
}

@media screen and (max-width: 992px) {
    #content {
        display: flex;
        flex-direction: column-reverse;
    }

    .news-img {
        width: 350px;
        height: 250px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 767px) {
    #content {
        display: flex;
        flex-direction: column-reverse;
    }

    .news-img {
        width: 80vw;
        height: 50vw;
        margin: 30px auto;
    }
}